<!DOCTYPE html>
<html>
    <head>
        <title>Homework 6</title>
        <style>
            body {
                text-align: center;
                padding-top: 30px;
            }
            #olivePic {
                width: 300px;
                height: auto;
                border: 2px solid green;
                border-radius: 15px;
            }
        </style>
    </head>
    <body>
        <h1>This is Olive <3</h1>
        <img id="olivePic" src="views/Olive.jpeg" alt="Olive" />  <!-- I see now, we must feed the index.php the full path to the image -->
    </body>

</html>